.profile-img{
    text-align: center;
}
.profile-img img{
    width: inherit;
    height: 300px;
}
.qr{
    height: 120px;
}
.lipdukas{
    height: 25mm;
    width: 50mm;
    color: white;
}
@media print {
	div {
		font-size: 5 pt;
	}
}
